<div fxLayout="column" fxLayoutAlign="center center" class="container">
    <div class="content" fxLayout="column" fxLayoutGap="20px">
      <div fxLayout="column" fxLayoutGap="20px">
        <h2>list offre emploi</h2>
        <div
          class="entretien-container"
          *ngFor="let item of items; let i = index"
        >
          <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px">
            <div fxLayout="column" fxLayoutGap="10px" fxFlex>
              <span
                ><strong>titre : </strong
                >{{ item.titre }}</span
              >
              <span
                ><strong>Description : </strong>{{ item.description }}</span
              >
              <span
                ><strong>salaire : </strong>{{ item.salary}}
              </span>
              <span *ngIf="item.statut"
              ><strong>statut : </strong>{{ item.statut}}
            </span>
            <button
            mat-raised-button *ngIf="item.statut =='valider'"
            class="btn edit-btn"
            (click)="postuler(item, i)"
          >
             passer le test en ligne 
          </button>
            <button
            mat-raised-button *ngIf="!item.canpostule"
            class="btn edit-btn"
            (click)="postuler(item, i)"
          >
             postuler
          </button>
            </div>
          
          </div>
        </div>
      </div>
    </div>
  </div>
  